.sign-in-form {
    width: 60vw;
    background-color: steelblue;
    color: white;
    margin: 0 auto;
    font-size: 16px;
}

.sign-in-form input {
    margin: 8px 0
}


.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label>p {
    font-size: 0.7em;
}

.write-data {
    display: flex;
    flex-flow: row wrap;
}
button {
    text-align: center;
    width: 100%;
    color: white;
}
.blue {
    font-size: 16px;
    font-weight: 600; 
    background-color: #28d2d0;
    height: 64px;
}
.red {
    font-size: 14px;
    font-weight: 400; 
    border-radius: 4px;
    line-height: 33px;
    background-color: #dd4b39;  
}